@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

html {

    box-sizing: border-box;
    --bgColorMenu: #1d1d27;
    --duration: .7s;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root{
    --swiper-theme-color:var(--bgColorMenu)
}

html *,
html *::before,
html *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.padding-wrapper{
    padding: 0px 16px ;
}

.menu {

    margin: 0;
    display: flex;
    width: 100%;
    padding: 8px 16px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bgColorMenu);
    font-size: x-small;
    z-index: 100;
}

.menu__item {

    all: unset;
    flex-grow: 1;
    z-index: 100;
    padding-bottom: 8px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    border-radius: 50%;
    align-items: center;
    will-change: transform;
    justify-content: center;
    transition: transform var(--timeOut, var(--duration));

}

.menu__item>a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu__item p {
    margin-top: 8px;
    color: white;
}

@media (min-width:420px) {
    .menu__item p {
        font-size: small;
    }
}



.menu__item.active {
    transform: translate3d(0, -.8em, 0);
}

.menu__item.active::before {

    transform: scale(1);
    background-color: var(--bgColorItem);

}

.icon {

    width: 24px;
    height: 24px;
    color: white;
    stroke: white;
    fill: transparent;
    stroke-width: 1pt;
    stroke-miterlimit: 10;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 400;

}

.icon.phone {
    stroke-width: 2.5pt;
}

.icon.tools {
    stroke-width: 0.5pt;
}

.menu__item.active .icon {

    animation: strok 1.5s reverse;

}

@keyframes strok {

    100% {

        stroke-dashoffset: 400;

    }

}

.menu__border {
    left: 0;
    bottom: 99%;
    width: 10.9em;
    height: 2.4em;
    position: absolute;
    clip-path: url(#menu);
    will-change: transform;
    background-color: var(--bgColorMenu);
    transition: transform var(--timeOut, var(--duration));

}

.svg-container {

    width: 0;
    height: 0;
}


.floating_icons_container {
    position: fixed;
    right: 0;
    bottom: 10%;
    z-index: 100;
}

.floating_icons_container>div {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.floating_icons {

    width: 64px;
    height: 64px;
    color: white;
    fill: white;
    stroke-width: 1pt;
    stroke-miterlimit: 10;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 400;
    background-color: #1d1d27;
    border: 3px solid #FAF0E6;
    border-radius: 50%;
    margin: 16px;
    padding: 4px;
}

.floating_icons_container>div>a:nth-child(2)>svg {
    padding: 12px;
}

main {
    width: 100%;
}

.hero-section{
    position: relative;
}

.hero-section .hero-carousel{
    height: 60vh;
    overflow: hidden;
}


.hero-section .swiper-slide img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.hero-section .hero-overlay{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    z-index: 2;
    pointer-events: none;
    align-items: end;
}

.hero-section .gradient-overlay{
    position: absolute;
    z-index: 0;
    inset: 0 0 0 0;
    background: linear-gradient(to top, #00000050 , #00000000 );
    pointer-events: none;
}


.hero-prompt{
    margin-left: 5%;
    margin-bottom: 25%;
    z-index: 1;
}

.hero-prompt>p {
    color: white;
    text-shadow:    1px 1px 3px black,
                    0 0 1em black,
                    0 0 0.2em black;
} 

.hero-prompt>.logo-name{
    font-size: 4em;
    font-weight: bold;
    font-family: 'Tangerine', cursive ;
}
.hero-prompt>a{
    margin-left: 10%;
}

.hero-prompt>a>button {
    background-color: #1d1d27;
    border: none;
    padding: 4px;
    font-size: 1em;
    font-family: nunito;
    margin-top: 16px;
    border: 10px solid #1d1d27;
    border-radius: 8px;
    color: white;
    text-shadow: #1d1d27;
    pointer-events: all;
}

.hero-bottom-border{
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
}

.feature-overview {
    width: 100%;
    background-color: #FAF0E6;
} 

.heading {
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    padding-top: 10%;
}

.sub-heading {
    text-align: center;
}

.info-grid {
    padding: 32px 0px;
    display: grid;
    grid-template-columns: repeat(3, minmax(28%, 1fr));
    justify-content: center;
    justify-items: center;
    gap: 5%;
}

.bottom-border{
    display: flex;
    padding-top: 10%;
}


@media (min-width:967px) {
    .info-grid{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

.info-grid>.info-cell {
    border: 1px solid #1d1d27;
    border-radius: 50%;
    display: inline;
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
    background-color: #1d1d27;
    color: white;
}

.info-cell>.content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.info-cell>.content>.heading {
    font-size: 1rem;
    margin-top: 0px;
    padding-top: 0;

}

.info-cell>.content>.sub-heading {
    font-size: .8rem;
}

@media (min-width:480px) {
    .info-grid>.info-cell {
        width: 140px;
    }

    .info-cell>.content>.heading {
        font-size: x-large;
    }

    .info-cell>.content>.sub-heading {
        font-size: medium;
    }
}

.what-we-do{
    background-color: #ECE2E1;
    width: 100%;
}

.what-we-do > .padding-wrapper >.content {
    margin-top: 64px;
}

.how-it-works {
    padding-top: 32px;
    --color: rgba(30, 30, 30);
    --bgColor: #FAF0E6;
    width: 100%;
    display: grid;
    align-content: center;
    gap: 2rem;
    font-family: "Poppins", sans-serif;
    color: var(--color);
    background: var(--bgColor);
}

.how-it-works>h1 {
    text-align: center;
}

.how-it-works>ul {
    --col-gap: 2rem;
    --row-gap: 2rem;
    --line-w: 0.2rem;
    display: grid;
    grid-template-columns: 1fr var(--line-w) 1fr;
    grid-auto-columns: max-content;
    column-gap: var(--col-gap);
    list-style: none;
    width: min(60rem, 90%);
    margin-inline: auto;
}

/* line */
.how-it-works>ul::before {
    content: "";
    grid-column: 2;
    grid-row: 1 / span 20;
    background: #1d1d27;
    border-radius: calc(var(--line-w) / 2);
}

/* columns*/

/* row gaps */
.how-it-works>ul li:not(:last-child) {
    margin-bottom: var(--row-gap);
}

/* card */
.how-it-works>ul li {
    grid-column: 2;
    grid-row: span 2;
    display: grid;
    grid-template-rows: repeat(3, min-content);
}

/* date */
.how-it-works>ul li .date {
    --dateH: 4rem;
    font-size: small;
    margin-inline: calc(var(--inlineP) * -1);
    text-align: center;
    display: grid;
    place-content: center;
    position: relative;
    border-radius: calc(var(--dateH) / 2);
}

/* circle */
.how-it-works>ul li .date::after {
    content: "";
    color: #000;
    padding: 8px;
    position: absolute;
    width: 40px;
    aspect-ratio: 1/1;
    background: var(--bgColor);
    border: 0.2rem solid var(--accent-color);
    border-radius: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    right: calc(100% + var(--col-gap) + var(--line-w) / 2);
}
.how-it-works>ul li:nth-child(odd) {
    grid-column: 1;
}

.how-it-works>ul li:nth-child(even) {
    grid-column: 3;
}

.how-it-works>ul li:nth-child(2) {
    grid-row: 2/4;
}

.how-it-works>ul li:nth-child(odd) .date::after {
    transform: translate(-50%, -50%);
    left: calc(100% + var(--col-gap) + var(--line-w) / 2);
}

.how-it-works>ul>li:nth-child(1)>.date::after {
    content: "01";
}
.how-it-works>ul>li:nth-child(2)>.date::after {
    content: "02";
}
.how-it-works>ul>li:nth-child(3)>.date::after {
    content: "03";
}
.how-it-works>ul>li:nth-child(4)>.date::after {
    content: "04";
}

.how-it-works>ul>li>.img{
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    margin-top: 32px;
    aspect-ratio: 2/1.5;
    background: center center / cover no-repeat;
    object-fit: cover;
}


.reviews{
    background-color: #ECE2E1;
    width: 100%;
}

.reviews-carousel{
    margin-top: 32px;
    padding: 0 64px;
    overflow: hidden;
}

.reviews-carousel .swiper-slide{
    background-color: rgba(0,0,0,0);
    border-radius: 20px !important;
    
}

.review-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAF0E6;
    border-radius: 20px;

}
.review-img-wrapper{
    position: relative;
    width: fit-content !important;
}

.review-img-wrapper .quote-icon{
    position: absolute;
    bottom: -10px;
    left: 10%;
    background-color: #1d1d27;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.review-img-wrapper .quote-icon svg{
    height: 32px;
    width: 32px;
}


.review-wrapper .review-img{
    width: 100%;
    height: 40%;
    object-fit: cover;
    border-radius:  20px 20px 0 0;
}
.review-wrapper .review-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
}

.review-content .client-name{
    font-weight: 700;
    align-self: self-end;
    margin-top: 16px;
}
.review-content .client-name::before{
    content: "-";
}

.review-content .client-review{
    font-size: small;
    margin-left: 10%;
}

.reviews-carousel .reviews-carousel-pagination{
    display: flex;
    justify-content: center;
    margin-top: 32px;
}


.contact-us{
    width: 100%;
    background-color: #FAF0E6;
}


.contact-us > .padding-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.map{
    display: flex;
    width: 80%;
    aspect-ratio: 16/9;
    
    border-radius: 16px;
    margin-top: 32px;
}

.address-section{
    padding: 0px 10%;
    text-align: center;
}
.address-heading{
    font-weight: bold;
    font-size: larger;
    margin-top: 24px;
    align-self: flex-start;
}

.contact-us  .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.connect-prompt{
    width: 100%;
    margin-top: 32px;
}

.connect-prompt>ul {
    --col-gap: 2rem;
    --row-gap: 2rem;
    --line-w: 0.25rem;
    display: grid;
    grid-template-columns: 1fr var(--line-w) 1fr;
    grid-auto-columns: max-content;
    column-gap: var(--col-gap);
    list-style: none;
    width: min(60rem, 90%);
    margin-inline: auto;
}

/* line */
.connect-prompt>ul::before {
    content: "";
    grid-column: 2;
    grid-row: 1 / span 20;
    background: #1d1d27;
    border-radius: calc(var(--line-w) / 2);
}

/* columns*/
.connect-prompt>ul li:nth-child(odd) {
    grid-column: 1;
}

.connect-prompt>ul li:nth-child(even) {
    grid-column: 3;
}

/* row gaps */
.connect-prompt>ul li:not(:last-child) {
    margin-bottom: var(--row-gap);
}

/* card */
.connect-prompt>ul li {
    grid-column: 2;
    grid-row: span 2;
    display: grid;
    margin-top: 32px;
    grid-template-rows: min-content min-content min-content;
}

/* date */
.connect-prompt>ul li .date {
    --dateH: 4rem;
    font-size: x-large;
    margin-inline: calc(var(--inlineP) * -1);
    text-align: center;
    display: grid;
    place-content: center;
    position: relative;
    border-radius: calc(var(--dateH) / 2);
}

/* circle */
.connect-prompt>ul li .date::after {
    content: "";
    color: #000;
    z-index: 10;
    background-color: #FAF0E6;
    position: absolute;
    width: fit-content;
    aspect-ratio: 1;
    border: 0.2rem solid var(--accent-color);
    border-radius: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    right: calc(100% + var(--col-gap) + var(--line-w) / 2);
}
.connect-prompt>ul li:nth-child(odd) .date::after {
    transform: translate(-50%, -50%);
    left: calc(100% + var(--col-gap) + var(--line-w) / 2);
}

.connect-prompt>ul>li:nth-child(1)>.date::after {
    content: "or";
}


.connect-prompt>ul>li>a{
    display: flex;
    justify-content: center;
}

.connect-prompt>ul>li:nth-child(2)>a>svg{
    padding: 12px;
}

.social-media{
    width: 100%;
    background-color: #FAF0E6;
    padding-top: 32px;
}

.social-media > .padding-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media > .padding-wrapper >.social-media-grid{
    display: flex;
    justify-content: space-around;
    margin-top: 32px;
    width: 100%;
    max-width: 1200px;
}

.social-media > .padding-wrapper >.social-media-grid > div{
    width: 80px;
    aspect-ratio: 1/1;
    border: 1px solid #1d1d27;
    border-radius: 20px;
}

.social-media > .footer-bottom-border{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
} 

.social-media > .footer-bottom-border > p{
    z-index: 1;
    color: black;
    font-weight: 900;
    text-align: center;
    font-size: larger; 
}

.social-media > .footer-bottom-border > svg{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

@media (max-width: 430px) {
    .connect-prompt>ul li .date {
        font-size: large;
    }
}


@media (min-width: 769px) {
    /* main{
        display: flex;
        flex-direction: column;
        align-items: center;

    } */

    .hero-section .hero-carousel{
        height: 80vh;
    }
    .hero-section .hero-overlay{
        z-index: 2;
    }

    .hero-section .hero-prompt p {
        font-size: 5em;
    }
    .hero-section .hero-prompt button {
        font-size: 1.5em;
    }
    p{
        font-size: larger;
    }

    .what-we-do > .heading{
        font-size: xx-large;
    }

    .info-grid>.info-cell {
        width: 200px;
    }
    .info-grid > .info-cell  .heading{
        font-size: xx-large;
    }
    .info-grid > .info-cell  .sub-heading{
        font-size: large;
    }

    .reviews-carousel .swiper-slide{
        width: 30% !important;
    }


    .how-it-works > ul > li > .date{
        font-size: larger;
    }
    .how-it-works > ul > li > .date::after{
        width: 50px;
    }
    

    /* .bottom-border{
        display: none;
        visibility: hidden;
    } */
    
}

@media (min-width:1000px) {
    .contact-us .content-2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
    }

    .contact-us .content-2  .address-heading{
        margin-top: 0;
    }

    .contact-us .content > .map{
        margin-top: 0;
        height: 100%;
        flex: 1;
    }

    .contact-us .content{
        flex-direction: row;
        margin-top: 32px;
        width: 100%;
        justify-content: space-between;
        padding: 0% 10%;
    }
    
}

@media (min-width:1200px) {

    .info-cell{
        min-width: 12%;
    }
    
}